.scroll-indicator {
  /* right: 20px;
  bottom: 50px;
  width: 1px; */
}
.scroll-indicator:before {
  /* content: "";
  right: 20px;
  bottom: 0;
  width: 1px;
  background: #0ff; */
}
.indicator {
  /* top: 0; */
  /* left: -5px; */
  /* position: absolute; */
  width: 10px;
  height: 0px;
  border-radius: 5px;
  background: darkcyan;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.indicator span {
  /* position: absolute; */
  /* padding-top: 100px; */

  /* padding-right: 40px; */
  transform: translate(-100%, 50%);
}
